body, html {
    height: 100%;
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/mainpage.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
    margin: 0px;
    line-height: 200px;
}

body {
    margin: 0px;
    background-color: white;
    text-align: center;
}

.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  background-color: white; 
  padding-top: 20px;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: green;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.bodyText {
    color: #5b120c;
}

li {
    padding: 10px;
    display: inline;
}

#navBar {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    padding-left: 5px;
}

.bodyText {
    color: #5b120c;
    padding-left: 20px;
    padding-right: 20px;
}

#copyright {
    width: 100%;
    text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}

#button {
    display: block;
    max-width: 300px;
    margin: auto;
    width: 6em;
    border: 2px solid black;
    background: #ffe;
    border-radius: 5px;
}
a {
    width: 100%;
    margin: auto;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: black;
    background: #eff;
}